<%=@user.name%>,
<br/><br/>
<%=  Setting.plugin_redmine_update_reminder['header'] %>

<ul>

  The following issues need attention:
<% @issues.each do |issue| -%>
  <li>
    <%= link_to_issue(issue, project: true, only_path: false) %>
  </li>
<% end -%>
</ul>

<br/>
<%=  Setting.plugin_redmine_update_reminder['footer'] %>
