<div class="box">
  <p class="description">
    В случае <strong>Аварии</strong>, каждые 30 минут следующие пользователи будут получать сообщения.<br>
    Приоритеты, воспринимаемые как <strong>Аварии</strong>, указываются в <a href="/settings/plugin/redmine_intouch" target="_blank">настройках плагина</a>.
  </p>
  <%= render partial: 'projects/settings/intouch/status/common', locals: {status: 'alarm'} %>
</div>
