<table>
  <thead>
  <tr>
    <% %w(author assigned_to watchers).each do |recipient| %>
      <th><%= l "intouch.recipient.#{recipient}" %></th>
    <% end %>
  </tr>
  </thead>

  <tr>
    <% %w(author assigned_to watchers).each do |receiver| %>
      <td>
        <% %w(telegram email).each do |protocol| %>
          <%= check_box_tag "intouch_settings[#{protocol}_settings][#{status}][#{receiver}]", '1',
                            settings_source.send("#{protocol}_settings").try(:[], status).try(:[], receiver) %>
          <%= label_tag l "intouch.protocol.#{protocol}" %><br>
        <% end %>
      </td>

    <% end %>
  </tr>

</table>
