<div class="box">
  <p class="description">
    Каждый рабочий день, в 10 утра, следующие пользователи будут получать сообщения о <strong>новых</strong> задачах.<br>
    Рабочие дни, статусы, воспринимаемые как <strong>Новая</strong>, указываются в <a href="/settings/plugin/redmine_intouch" target="_blank">настройках плагина</a>.
  </p>
  <%= render partial: 'projects/settings/intouch/status/common', locals: {status: 'new', settings_source: settings_source } %>
</div>
