<div class="box">
  <p class="description">
    В таблице ниже указывается длительность интервалов периодических уведомлений для различных приоритетов.<br>
    Уведомления будут отправляться только в рабочее время, за исключеним срочных задач.<br>
    <strong>Например:</strong>
    Есть задача с приоритетом "Нормальный", находящаяся в статусе "Обратная связь", но ее давно никто не обновлял.
    Каждый рабочий день, с интервалом указанным ниже, пользоватли отмеченные на вкладке "Обратная связь" будут получать
    уведомления.<br>
    Если приоритет изменится на "Авария" (и этот приоритет в
    <a href="/settings/plugin/redmine_intouch" target="_blank">настройках плагина</a> отмечен как "Срочный"),
    уведомления будут приходить с другим интервалом, также отмеченным ниже. Но уже не будет учитываться - рабочий сегоня
    день или нет, рабочее время или нет. То есть, уведомления для срочных задач отправляются круглосуточно и без
    выходных.
    <br>
    Рабочее время и приоритеты срочных задач указываются в
    <a href="/settings/plugin/redmine_intouch" target="_blank">настройках плагина</a>.
  </p>
  <table>
    <thead>
    <tr>
      <th>Приоритет</th>
      <th>Уведомлять <br> с интервалом</th>
    </tr>
    </thead>

    <% IssuePriority.order(:position).each do |priority| %>
      <tr>
        <th><%= priority.name %></th>

        <td>
          <%= check_box_tag "intouch_settings[reminder_settings][#{priority.id}][active]", '1',
                            settings_source.reminder_settings.
                                try(:[], "#{priority.id}").try(:[], 'active') %>

          <%= number_field_tag "intouch_settings[reminder_settings][#{priority.id}][interval]",
                               settings_source.reminder_settings.
                                   try(:[], "#{priority.id}").try(:[], 'interval'), step: 0.1, class: 'hours_input' %>
          <%= label_tag 'ч.' %>
        </td>
      </tr>
    <% end %>

  </table>

</div>
