<div class="box">
  <p class="description">
    Каждый рабочий день, в 10 утра, следующие пользователи будут получать сообщения
    о <strong>просроченных</strong> задачах, а также задачах <strong>без указанной даты завершения</strong>.<br>
    Какие дни недели считать рабочими, указывается в <a href="/settings/plugin/redmine_intouch" target="_blank">настройках плагина</a>.
  </p>
  <%= render partial: 'projects/settings/intouch/reminder/common', locals: {status: 'overdue', settings_source: settings_source } %>
  <a href="#" class='copyIssueUpdateSettings'>Копировать отмеченные значения на другие вкладки</a>
</div>
