<div class="box">
  <p class="description">
    Каждый рабочий день, в рабоче время, в случае, если задача не обновлялась указанное в общих настройках количество часов и находится в статусе <strong>В работе</strong>,
    следующие пользователи будут получать сообщения.<br>
    Рабочие дни, рабочее время, статусы, воспринимаемые как <strong>В работе</strong>, указываются в <a href="/settings/plugin/redmine_intouch" target="_blank">настройках плагина</a>.
  </p>
  <div>
    Скопировать занения со вкладки
    <%= select_tag 'r', options_for_select(%w(feedback unassigned overdue).collect{ |r| [l("intouch.reminder.#{r}"), r] }) %>
    <%= button_tag 'Скопировать', class: 'copySettingsFromOtherTab' %>
  </div>
  <br>
  <%= render partial: 'projects/settings/intouch/reminder/common', locals: {status: 'working', settings_source: settings_source } %>
</div>
