<div class='accordion'>
  <h3><%= l('intouch.label.issue_update') %></h3>

  <div class="box">
    <% issue_update_tabs = %w(author assigned_to watchers telegram_groups).map do |recipient|
      {
          name: recipient,
          partial: "projects/settings/intouch/issue_update/#{recipient}",
          label: "intouch.recipient.#{recipient}"
      }
    end %>

    <%= render_intouch_tabs settings_source, issue_update_tabs %>

  </div>

  <h3><%= l('intouch.label.reminder') %></h3>

  <div class="box">
    <% reminder_tabs = %w(intervals working feedback unassigned overdue).map do |tab|
      {
          name: tab,
          partial: "projects/settings/intouch/reminder/#{tab}",
          label: "intouch.reminder.#{tab}"
      }
    end %>

    <%= render_intouch_tabs settings_source, reminder_tabs %>

  </div>
</div>
<br>
