.intouch-settings label {
    float: none;
    margin-left: 0;
}

.intouch-settings table {
    border-spacing: 0;
}
.intouch-settings table th {
    border-top: 1px solid #555;

}
.intouch-settings table td {
    padding: 7px;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
}

.intouch-settings .splitcontentleft {
    width: 60%;
}
.intouch-settings .splitcontentright {
    width: 39%;
}
.intouch-settings .splitcontentright p {
    padding-left: 10px;
}

.intouch-settings p.description {
    margin: 10px;
    padding: 0;
}

.intouch-settings h4 {
    margin-top: 15px;
}
.intouch-settings h5 {
    margin: 0;
}
