<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


    Доброе утро, <%= @user.name %>!
    <% if @issues.present? %>
      <% if @overdue_issues.present? %>
        <h2>Просроченные задачи</h2>
        <ul>
          <% @overdue_issues.each do |issue| %>
            <li>
              <%= link_to issue.to_s, issue_url(issue) %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <% if @without_due_date_issue_ids.present? %>
        <h2>Не указана дата завершения</h2>
        <ul>
          <% @without_due_date_issue_ids.each do |issue| %>
            <li>
              <%= link_to issue.to_s, issue_url(issue) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% else %>
      <p>
        На сегодня просроченных задач нет.
      </p>
    <% end %>

    <span class="header">
      <%= Redmine::WikiFormatting.to_html(Setting.text_formatting,
          Setting.plugin_redmine_intouch['footer']).html_safe %>
    </span>
  </body>
</html>
